header {
    background: #a80808;
    color: white;
    padding: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* 添加阴影 */
    text-align: center;
}
section {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
    position: relative;
    bottom: 0;
    border-radius: 8px;
    width: 100%;
}
.carousel {
    position: relative;
    width: 100%; /* 设置为100%以占据整行 */
    max-width: 1640px; /* 最大宽度可以根据需求调整 */
    margin: 0 auto; /* 居中 */
    overflow: hidden;
}

.carousel-images {
    margin-top: 20px;
    display: flex;
    transition: transform 1.2s ease;
    width: 100%; /* 设置为100%以保持灵活性 */
}

.carousel-images img {
    border-radius: 15px;
    width: 100%; /* 将图片宽度设为100% */
    height: auto; /* 自适应高度 */
    max-width: none; /* 防止图片受到父元素限制 */
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    padding: 10px; /* 增加按钮的可点击区域 */
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
