@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1732542390833') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-01:before {
  content: "\e69b";
}

.icon-daohang_daohanglan_zhuye:before {
  content: "\e60c";
}

.icon-keji:before {
  content: "\e664";
}

.icon-jiangbei:before {
  content: "\e705";
}

.icon-zhuanye:before {
  content: "\e6d0";
}

